<div class="container">
    {% assign counter = 0%}
    {% for product-category in site.navbar-menu %}
    <span id="{{ product-category.slug-link }}-link" class="anchor-hide"></span>
    <div class="section-container">
        <div class="section-header">
            <h2 class="header">{{ product-category.title }}</h2>
        </div>
        <div class="section-content clearfix">
            {% for product-item in site.product %}
            {% if product-item.category == product-category.slug-link %}
            <div class="item col-lg-4 col-md-4 col-sm-6">
                <a class="image-link" href="{{ product-item.url }}">
                    <div class="section-image">
                        <img class="image b-lazy center-block" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                             data-src="{{ product-item.product-cover }}"/>
                    </div>
                </a>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-item.brand-name }}</span>
                    <span class="section-title">{{ product-item.product-name }}</span>
                    <ngcart-addtocart id="{{ product-item.url }}" name="{{ product-item.product-name }}" price="{{ product-item.price }}.00">Add to Cart</ngcart-addtocart>
                </div>
            </div>
            <hr class="hidden-lg hidden-md hidden-sm visible-xs" style="width: 100%"/>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="visible-lg visible-md visible-sm hidden-xs"/>
    {% endfor %}
</div>