<div class="container">
    {% assign counter = 0%}
    {% for product-category in site.navbar-menu %}
    <section id="{{ product-category.slug-link }}" class="section-container">
        <div class="section-header">
            <h2 class="header">{{ product-category.title }}</h2>
        </div>
        <div class="section-content clearfix">
            {% for product-item in site.product %}
            {% if product-item.category == product-category.slug-link %}
            <div class="item col-lg-3">
                <div class="section-image">
                    <img class="image b-lazy center-block" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ product-item.product-cover }}"/>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>