<div class="container">
    {% assign counter = 0%}
    {% for product-category in site.navbar-menu %}
    <section id="{{ product-category.slug-link }}" class="section-container">
        <div class="section-header">
            <h2 class="header">{{ product-category.title }}</h2>
        </div>
        <div class="section-content clearfix">
            {% for product-item in site.product %}
            {% if product-item.category == product-category.slug-link %}
            <a href="{{ product-item.url }}" class="item col-lg-4">
                <div class="section-image">
                    <img class="image b-lazy center-block" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ product-item.product-cover }}"/>
                </div>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-item.brand-name }}</span>
                    <span class="section-title">{{ product-item.product-name }}</span>
                    <span class="section-price">${{ product-item.price }}.00</span>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <hr/>
    {% endfor %}
</div>