<footer class="site-footer">
    <div class="container">
        <div class="content-container">
            <div class="left-section">
                <h5 class="content-text">LOURDGENEHOWES ALL RIGHTS RESERVED 2016</h5>
            </div>
            <div class="right-section">
                <ul class="media-container">
                    <li class="media-list">
                        <a href="https://www.facebook.com/LourdgeneHowes/" target="_blank" class="media-link">
                            <img class="media-button center-block" src="/img/social-media/facebook.png"/>
                        </a>
                    </li>
                    <!--<li class="media-list">-->
                        <!--<a href="#" target="_blank" class="media-link">-->
                            <!--<img class="media-button center-block" src="/img/social-media/instagram.png"/>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>