<nav class="navbar navbar-fixed-top navbar-default navbar-mobile">
    <div class="container cart-section">
        <div class="cart-summary">
            <a href="/checkout/">
                <ngcart-summary></ngcart-summary>
            </a>
        </div>
    </div>

    <div class="container-fluid container-header">
        <div class="navbar-header">
            <button type="button" id="icon-transition" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="brand-logo center-block" src="/img/brand-logo.svg"/>
                <!--<img class="brand-logo center-block" src="/img/brand-logo.jpg"/>-->
            </a>
        </div>
    </div><!-- /.container-fluid -->

    <!--navbar menu on tablet - mobile screen-->
    <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav navbar-right hidden-lg hidden-md visible-sm visible-xs">
            {% for menu in site.navbar-menu %}
            <li class="navbar-menu" data-content="{{ menu.slug-link }}">
                <a class="navbar-link" href="/product/#{{ menu.slug-link }}-link">{{ menu.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div><!-- /.navbar-collapse -->

    <div class="visible-lg visible-md hidden-sm hidden-xs category-menu-container">
        <header class="cd-morph-dropdown">
            <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>
            <div class="clearfix main-nav">
                <ul class="clearfix container no-gutter">
                    {% for menu in site.navbar-menu %}
                    <li class="has-dropdown links" data-content="{{ menu.slug-link }}">
                        <a href="/product/#{{ menu.slug-link }}-link">{{ menu.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="morph-dropdown-wrapper">
                <div class="dropdown-list">
                    <ul>
                        {% for menu-item in site.navbar-menu %}
                        <li id="{{ menu-item.slug-link }}" class="dropdown links">
                            <a href="#0" class="label">{{ menu-item.title }}</a>
                            <div class="content">
                                <ul class="links-list">
                                    {% for product in site.product %}
                                    {% if product.category == menu-item.slug-link %}
                                    <li>
                                        <a href="{{ product.url }}">{{ product.product-name }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="bg-layer" aria-hidden="true"></div>
                </div> <!-- dropdown-list -->
            </div> <!-- morph-dropdown-wrapper -->
        </header>

    </div>
</nav>
