<nav class="navbar navbar-fixed-top navbar-default navbar-mobile">
    <!--<div class="container cart-section">-->
        <!--<div class="cart-summary">-->
            <!--<a href="/checkout/">-->
                <!--<ngcart-summary></ngcart-summary>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container-fluid container-header">
        <div class="st-pusher">
            <div id="st-trigger-effects" class="column">
                <button id="slide-left" data-effect="st-effect-1">
                    <i class="icon if-menu c-head__icon"></i>
                    <span class="menu-text">MENU</span>
                </button>
                <!--<button id="slide-left" data-effect="st-effect-1">Slide in on top</button>-->
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->

        <div id="st-container" class="st-container">
            <nav class="st-menu st-effect-1">
                <!--<div class="close-container">-->
                    <!--<button>CLOSE!!!!</button>-->
                <!--</div>-->
                <div id="menu-1">
                    <ul data-menu="main" class="menu__level">
                        {% for menu in site.navbar-menu %}
                        <li class="menu__item">
                            <a class="menu__link" data-submenu="submenu-{{ menu.id }}" href="#">{{ menu.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul data-menu="submenu-1" class="menu__level">
                        {% assign sorted-product = site.product | sort: "brand" %}
                        {% for product in sorted-product | uniq %}
                        {% if product.category == "cheek" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <h6>{{ product.brand }}</h6>
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul data-menu="submenu-2" class="menu__level">
                        {% for product in site.product %}
                        {% if product.category == "eye" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul data-menu="submenu-3" class="menu__level">
                        {% for product in site.product %}
                        {% if product.category == "face" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul data-menu="submenu-4" class="menu__level">
                        {% for product in site.product %}
                        {% if product.category == "lips" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul data-menu="submenu-5" class="menu__level">
                        {% for product in site.product %}
                        {% if product.category == "skin-care" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul data-menu="submenu-6" class="menu__level">
                        {% for product in site.product %}
                        {% if product.category == "tool" %}
                        {% assign counter = counter | plus:1 %}
                        <li class="menu__item">
                            <a class="menu__link" href="{{ product.url }}">{{ product.product-name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        <a class="navbar-brand" href="/">
            <img class="brand-logo center-block" src="/img/brand-logo.svg"/>
        </a>
    </div>
</nav>
