body
  margin: 50px
  min-height: 100vh
  font-family: "Lato","sans-serif"
  font-weight: 400
  //background-color: black

.no-gutter
  padding-left: 0
  padding-right: 0

.container-padding
  padding-top: 30px
  padding-bottom: 30px

header
  .container-fluid
    .navbar-header
      .navbar-brand
        height: auto
        display: block
    #navbar-right-collapse
      .navbar-right
        margin-top: 15px
        margin-right: 0
        .navbar-item
          display: inline-block
          .modal-button
            color: #a2db8e
            font-size: 14px
            display: block !important
            text-transform: uppercase
            padding: 20px 55px !important
            outline-color: #a2db8e
          a
            padding: 0
            display: block
            .contact-container
              color: #ffffff
              background-color: #a2db8e
              padding: 18px 43px
              border-radius: 40px
              #number-icon
                font-size: 18px
                display: inline-block
                vertical-align: middle
              #number
                color: white
                font-size: 16px
                text-decoration: none
                display: inline-block
                vertical-align: middle

.filter-container
  position: relative
  margin: 35px auto 55px
  margin-left: 15px
  margin-right: 15px
  .filters-button-group
    position: relative
    border-radius: 5px
    padding-left: 15px
    padding-right: 15px
    background-color: #a2db8e
    .filter
      float: left
      text-transform: uppercase
      text-decoration: none
      text-align: center
      padding: 30px 20px
      border-radius: 0
      outline: none
      background-color: transparent
      color: white
      border: none
      transition: all 300ms ease-in-out
      &.active, &:hover
        color: #a2db8e
        background-color: white
    .search-container
      position: relative
      padding: 12px 0
      float: right
      max-width: 32%
      min-width: 32%
      input
        color: white
        display: inline-block
        font-style: italic
        height: 55px
        border: 0
        border-radius: 30px
        background-color: #ccebc1
        outline: none
        box-shadow: none
        -webkit-appearance: none
        &::-webkit-input-placeholder
          color: white
        &:-moz-placeholder  /* Firefox 18- */
          color: white
        &::-moz-placeholder  /* Firefox 19+ */
          color: white
        &:-ms-input-placeholder
          color: white
      .section-content
        .result-container
          border-bottom-left-radius: 5px
          border-bottom-right-radius: 5px
          top: 79px
          z-index: 10
          width: 104%
          display: none
          height: 300px
          padding-left: 0
          margin-bottom: 0
          list-style: none
          position: absolute
          background-color: #ccebc1
          overflow-x: hidden
          overflow-y: scroll
          .result-list
            padding: 15px 15px
            .result-link
              color: #585858
              font-style: italic
              text-decoration: none
        .result-filter
          position: relative
          z-index: 5
          display: none
          background-color: white


.content-container
  min-height: 70vh
  .left-section-container
    min-height: 50vh
    background-color: white
    border-radius: 5px
    .section-content
      margin: 30px 0 40px
      .section-title
        color: #585858
      .divider
        margin-top: 15px
        margin-bottom: 15px
        border-top: 2px solid #eeeeee
      fieldset
        .filter-btn
          height: 40px
          width: 90%
        .sort-btn
          height: 40px
          width: 90%
          
  .right-section-container
    .section-content
      #Container
        .fail-message
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          text-align: center
          opacity: 0
          pointer-events: none
          -webkit-transition: 150ms
          -moz-transition: 150ms
          transition: 150ms
          &:before
            content: ''
            display: inline-block
            vertical-align: middle
            height: 100%
          span
            display: inline-block
            vertical-align: middle
            font-size: 20px
            font-weight: 400
        &.fail .fail-message
          opacity: 1
          pointer-events: auto
        .item-list
          border: 2px solid transparent
          background-color: white
          display: none
          height: 250px
          padding-top: 50px
          padding-bottom: 0px
          margin-bottom: 30px
          &:hover
            border: 2px solid #a2db8e
            border-radius: 5px
          .left-section
            .product-image
              width: 90px
          .right-section
            .product-details
              .product-type
                min-height: 27px
                color: white
                padding: 5px 7px
                border-radius: 5px
                font-size: 12px
              .product-price
                display: block
              .product-name
                min-height: 40px
                display: block
              .product-link
                color: white
                margin: 10px 0 0
                white-space: nowrap
                display: inline-block
                padding: 10px 20px
                border-radius: 20px
                text-decoration: none
                background-color: #a2db8e

#about-modal, #contact-modal
  .container
    max-width: 970px
    top: 50%
    position: absolute
    left: 0
    right: 0
    transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    z-index: 1050
    .modal-dialog
      width: 100%
      .modal-content
        .modal-header
          z-index: 5
          position: absolute
          top: -15px
          right: -15px
          padding: 0
          border-bottom: none
          .close
            opacity: 1
            margin-top: 0
            outline: none
            box-shadow: none
            img
              height: 30px
        .modal-body
          padding: 50px 15px
          #about,#contact
            position: relative
            padding-top: 30px
            padding-bottom: 30px
            .contact-form
              position: relative
              .section-header
                .header
                  color: #5f081a
                  font-weight: bold
                  font-size: 24px
                  text-transform: uppercase
              .form-item
                .content-title
                  color: #a2db8e
                  display: block
                  margin: 30px 0 10px
                  font-size: 16px
                  text-transform: uppercase
                .content-input
                  background-color: #f7f7f7
                .text-area
                  resize: none
              .content-button-container
                margin: 30px 0 10px
                #ss-submit
                  //height: 40px
                  background-color: #a2db8e
                  color: #ffffff
                  text-transform: uppercase
                  margin-top: 30px
                  border: none


            .description-section
              color: #505050
              padding: 40px 120px
              p
                text-align: center
                line-height: 25px
            .button-section
              display: table
              margin-left: auto
              margin-right: auto
              a
                color: white
                text-decoration: none
                background-color: #a2db8e
                padding: 25px 70px
                border-radius: 50px
                display: block

.modal-backdrop.in
  opacity: 0.85

//  On modal success message

#modal-message

  .modal-dialog
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease

  &.in .modal-dialog
    z-index: 1051
    margin-top: 0
    margin-bottom: 0
    position: absolute
    top: 40%
    opacity: 1
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
  .modal-content
    border: none
    border-radius: 2px
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    padding: 8% 5%
    background-color: #a2db8e
    .text-alert
      margin: 20px auto
      color: #ffffff
      text-align: center


.site-footer
  color: white
  border-radius: 5px
  padding-top: 50px
  padding-bottom: 100px
  margin-left: 30px
  margin-right: 30px
  background-color: #a2db8e
  .left-section
    padding: 70px 80px 0
    span
      display: block
      padding-top: 8px
  .middle-section
    padding: 90px 80px 0
    img
      display: block
      margin-left: auto
      margin-right: auto
    span
      display: block
      padding: 30px 0 15px
      text-align: center
    input
      padding-left: 15px
      margin-left: auto
      margin-right: auto
      display: block
      color: white
      height: 45px
      width: 350px
      border: 0
      border-radius: 30px
      background-color: #ccebc1
      outline: none
      box-shadow: none
      -webkit-appearance: none
      &::-webkit-input-placeholder
        color: white
      &:-moz-placeholder  /* Firefox 18- */
        color: white
      &::-moz-placeholder  /* Firefox 19+ */
        color: white
      &:-ms-input-placeholder
        color: white

  .right-section
    padding: 70px 80px 0
    ul
      float: right
      list-style: none
      padding-left: 0
      padding-top: 47px
      li
        display: inline-block
        &:nth-child(2)
          padding: 0 25px

//  Typeahead
#scrollable-dropdown-menu
  position: relative
  float: right
  .tt-dropdown-menu
    padding-left: 10px
    max-height: 250px
    overflow-y: auto
p
  margin: 0 0 10px

.title
  font-size: 64px
  margin: 20px 0 0

.example
  padding: 30px 0

.example-name
  font-size: 32px
  margin: 20px 0

.demo
  margin: 50px 0
  position: relative

.typeahead, .tt-query, .tt-hint
  border: 2px solid #CCCCCC
  border-radius: 8px 8px 8px 8px
  font-size: 16px
  height: 30px
  line-height: 30px
  outline: medium none
  padding: 8px 12px
  width: 396px
  color: #a2db8e

.tt-dataset-name a
  text-align: left

  font-size: 16px
  color: #a2db8e !important
.typeahead
  background-color: #FFFFFF
  &:focus
    border: 2px solid #0097CF

.tt-query
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
.tt-hint
  color: #a2db8e
  text-align: left

.tt-dropdown-menu
  background-color: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 8px 8px 8px 8px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  margin-top: 12px
  padding: 8px 0
  width: 100%

.tt-suggestion
  font-size: 18px
  line-height: 24px
  padding: 3px 0px
  &.tt-cursor
    background-color: transparent
    color: #FFFFFF
  p
    margin: 0

.gist
  font-size: 14px

.example-twitter-oss
  .tt-suggestion
    padding: 8px 20px
    + .tt-suggestion
      border-top: 1px solid #CCCCCC
  .repo-language
    float: right
    font-style: italic
  .repo-name
    font-weight: bold

.example-sports .league-name
  border-bottom: 1px solid #CCCCCC
  margin: 0 20px 5px
  padding: 3px 20px

.example-arabic .tt-dropdown-menu
  text-align: left


@media (max-width: 1440px)
  body
    margin: 0

  #contact-modal
    .logo-section
      img
        height: 120px
    .container
      top: 0
      transform: none
      -webkit-transform: none
      -o-transform: none
      -ms-transform: none

      .modal-dialog
        .modal-content
          .modal-body
            padding-top: 0
            padding-bottom: 0

  .content-container
    .right-section-container
      .section-content
        #Container
          .item-list
            width: 33.33%
            .right-section
              .product-details
                .product-name
                  min-height: 45px

@media (max-width: 1280px)
  .filter-container
    .filters-button-group
      .search-container
        padding: 10px 0
  #scrollable-dropdown-menu
    input
      max-width: 75%
      min-width: 50%
  .content-container
    .right-section-container
      .section-content
        #Container
          .item-list
            .right-section
              .product-details
                .product-name
                  min-height: 60px

@media (max-width: $screen-md-max)
  .navbar-brand>img
    height: 50px

  .filter-container
    height: 59px
    margin: 20px 30px 15px
    .filters-button-group
      max-height: 59px
      height: 59px
      .filter
        padding: 20px 29px

  .md-content-container
    margin-top: 30px
    margin-bottom: 30px
    .search-container
      margin-left: 15px
      margin-right: 15px
      float: left
      min-width: 0
      position: relative
      padding: 0
      width: 100%
      #scrollable-dropdown-menu
        float: left
        height: 40px
        width: 100%
        border-radius: 30px
        background-color: #EBEBEB
        .search-input
          position: relative
          float: left
          height: 40px
          max-width: 100%
          width: 100%
          display: block
          padding-left: 12px
          font-style: italic
          border: none
          border-radius: 30px
          background-color: #EBEBEB
        .twitter-typeahead
          height: 40px
          width: 100%
          border-radius: 30px
          background-color: #EBEBEB
          display: block !important
          input
            max-width: 100%
            min-width: 0
            width: 100%
            padding: 0 12px
            color: #585858
            display: block
            font-style: italic
            height: 40px
            border: 0
            border-radius: 30px
            background-color: #EBEBEB !important
            outline: none
            box-shadow: none
            -webkit-appearance: none
            &::-webkit-input-placeholder
              color: #585858
            &:-moz-placeholder  /* Firefox 18- */
              color: #585858
            &::-moz-placeholder  /* Firefox 19+ */
              color: #585858
            &:-ms-input-placeholder
              color: #585858
    .filter-section
      .filters-button-group
        .filter-btn
          height: 40px
          border: none
          width: 100%
          border-radius: 55px
          background-color: #EBEBEB

    .sort-section
      .sort-button-group
        .sort-btn
          border: none
          height: 40px
          width: 100%
          border-radius: 55px
          background-color: #EBEBEB

    .content-container
      .right-section-container
        .section-content
          #Container
            .item-list
              height: 270px


@media (max-width: $screen-sm-max)
  header
    .container-fluid
      #navbar-right-collapse
        .navbar-right
          margin-top: 5px
          .navbar-item
            .contact-container
              margin-top: 4px
              padding: 14px 15px !important
              border-radius: 40px
              #number-icon
                vertical-align: top
            .modal-button
              font-size: 14px
              padding: 20px !important
  .filter-container
    margin: 20px 15px 15px
    .filters-button-group
      padding-left: 0
      padding-right: 0
      .filter
        font-size: 12px
        width: 20%
        padding: 21px 0

  .md-content-container
    .search-container
      margin-left: 0
      margin-right: 0
      #scrollable-dropdown-menu
        .twitter-typeahead
          input
            font-size: 13px

  .content-container
    .container-fluid
      padding-left: 0
      padding-right: 0
    .right-section-container
      .section-content
        #Container
          .item-list
            width: 50%
            height: 250px
            padding-top: 40px
            .right-section
              .product-details
                .product-name
                  min-height: 35px

  .site-footer
    padding-top: 50px
    padding-bottom: 50px
    margin-left: 15px
    margin-right: 15px
    .middle-section
      padding-top: 0
    .left-section
      padding: 30px 0 0
      .item-container
        text-align: center
        display: table
        margin-left: auto
        margin-right: auto
    .right-section
      padding: 30px 0 0
      ul
        float: none
        padding: 0
        margin-bottom: 0
        margin-left: auto
        margin-right: auto
        display: table

  #about-modal
    .container
      .modal-dialog
        width: auto
        .modal-content
          .modal-body
            padding-top: 0
            padding-bottom: 0
            #about
              .logo-section
                img
                  height: 100px
              .description-section
                padding: 40px 15px


  #contact-modal
    .container
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      .modal-dialog
        .modal-content
          .modal-body
            padding-top: 0
            padding-bottom: 0
            #contact
              .logo-section
                img
                  height: 100px

@media (max-width: $screen-xs-max)
  header
    .navbar-header
      float: left
    #navbar-right-collapse
      .navbar-right
        float: right

  #contact-modal
    padding-left: 0
    padding-right: 0
    .container
      padding-left: 0
      padding-right: 0
      top: 0
      transform: none
      -moz-transform: none
      -ms-transform: none
      -o-transform: none
      .modal-dialog
        margin: 20px
        width: auto

  .filter-container
    margin-left: 10px
    margin-right: 10px

  .md-content-container
    margin-top: 20px
    margin-bottom: 20px
    .search-section
      padding-left: 10px
      padding-right: 10px
    .filter-section
      margin-top: 20px
      padding-left: 0
    .sort-section
      padding-right: 0
      margin-top: 20px

@media (max-width: 568px)
  .content-container
    .right-section-container
      .section-content
        #Container
          .item-list
            width: 100%
            height: 190px
            padding-top: 20px
            padding-bottom: 20px
            margin-bottom: 15px

  .navbar-brand>img
    height: 35px

  header
    .container-fluid
      #navbar-right-collapse
        .navbar-right
          margin-top: 7px
          .navbar-item
            .modal-button
              font-size: 12px
              padding: 5px !important
            a
              .contact-container
                padding: 10px 14px !important
                #number-icon
                  font-size: 12px

  .filter-container
    margin-left: 0
    margin-right: 0
    .filters-button-group
      border-radius: 0
      .filter
        padding: 0
        height: 59px
        font-size: 10px

  .content-container
    .right-section-container
      .section-content
        #Container
          .item-list
            .right-section
              .product-details
                .product-link
                  font-size: 12px


  .site-footer
    .middle-section
      img
        height: 35px

  #about-modal
    padding-left: 0
    padding-right: 0
    .container
      padding-left: 0
      padding-right: 0
      top: 0
      transform: none
      -moz-transform: none
      -ms-transform: none
      -o-transform: none
      .modal-dialog
        .modal-content
          .modal-header
            top: -8px
            right: -8px

  #contact-modal
    .container
      .modal-dialog
        margin: 10px
        .modal-content
          .modal-header
            top: -8px
            right: -8px
          .modal-body
            #contact
              .contact-form
                .form-item
                  .content-title
                    font-size: 14px





