//Global Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

*
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &::before
    -moz-box-sizing: border-box
    box-sizing: border-box

/* HTML5 display-role reset for older browsers

//Muli Font
@font-face
  font-family: 'Muli'
  src: url('/fonts/muli/Muli.ttf')

@font-face
  font-family: 'Muli-Light'
  src: url('/fonts/muli/Muli-Light.ttf')

@font-face
  font-family: 'Muli-SemiBold'
  src: url('/fonts/muli/Muli-SemiBold.ttf')

@font-face
  font-family: 'Muli-Bold.ttf'
  src: url('/fonts/muli/Muli-Bold.ttf')

html,
body,
.st-container,
.st-pusher,
.st-content
  height: 100%

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main
  display: block

body
  line-height: 1
  font-family: "Muli"

img
  image-rendering: auto
//image-rendering: crisp-edges
//image-rendering: pixelated


ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

.no-gutter
  padding-left: 0
  padding-right: 0

body
  color: #585858
  font-family: "Lato", "sans-serif"
  text-transform: uppercase
  font-weight: 400
  margin-top: 262px
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  -ms-font-smoothing: antialiased

nav
  &.navbar-default
    background-color: #ffffff
    border-bottom: 1px solid #e5e5e5
  .cart-section
    .cart-summary
      float: right
  .container-header
    background-color: #ffffff
    text-align: center
    .navbar-brand
      display: block
      max-width: 250px
      margin-left: auto !important
      margin-right: auto
      height: auto
      padding: 0
      float: none
      .brand-logo
        width: 100%
        height: auto
        transition: all 300ms ease-in-out

.st-content
  overflow-y: scroll
  background: #f3efe0
  position: relative

.st-content-inner
  position: relative

.st-pusher
  position: relative
  float: left
  left: 0
  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0, 0, 0, 0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.st-menu-open .st-pusher::after
  width: 100%
  height: 100%
  opacity: 1
  -webkit-transition: opacity 0.5s
  transition: opacity 0.5s

.st-menu
  position: fixed
  top: 0
  left: 0
  z-index: 100
  visibility: hidden
  width: 300px
  height: 100%
  background: #48a770
  -webkit-transition: all 0.5s
  transition: all 0.5s
  &::after
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.2)
    content: ''
    opacity: 1
    -webkit-transition: opacity 0.5s
    transition: opacity 0.5s

.st-menu-open .st-menu::after
  width: 0
  height: 0
  opacity: 0
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

/* content style

.st-menu
  ul
    margin: 0
    padding: 0
    list-style: none
  h2
    margin: 0
    padding: 1em
    color: rgba(0, 0, 0, 0.4)
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
    font-weight: 300
    font-size: 2em
  ul li
    a
      display: block
      padding: 1em 1em 1em 1.2em
      outline: none
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2)
      color: #f3efe0
      text-transform: uppercase
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.1)
      letter-spacing: 1px
      font-weight: 400
      -webkit-transition: background 0.3s, box-shadow 0.3s
      transition: background 0.3s, box-shadow 0.3s
    &:first-child a
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2)
    a:hover
      background: rgba(0, 0, 0, 0.2)
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0)
      color: #fff

//Slide left effect
/* Effect 1: Slide in on top

.st-effect-1
  &.st-menu
    visibility: visible
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)
  &.st-menu-open .st-effect-1.st-menu
    visibility: visible
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  &.st-menu::after
    display: none

.no-csstransforms3d .st-pusher, .no-js .st-pusher
  padding-left: 300px

//Slide left end

//Multi level menu
@font-face
  font-family: 'feather'
  font-weight: normal
  font-style: normal
  src: url('/fonts/feather/feather.eot?1gafuo')
  src: url('/fonts/feather/feather.eot?1gafuo#iefix') format("embedded-opentype"), url('/fonts/feather/feather.woff2?1gafuo') format("woff2"), url('/fonts/feather/feather.ttf?1gafuo') format("truetype"), url('/fonts/feather/feather.woff?1gafuo') format("woff"), url('/fonts/feather/feather.svg?1gafuo#feather') format("svg")

.icon
  font-family: 'feather'
  font-weight: normal
  font-style: normal
  font-variant: normal
  line-height: 1
  text-transform: none
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  speak: none

.icon--arrow-left:before
  content: '\e901'

.icon--menu:before
  content: '\e903'

.icon--cross:before
  content: '\e117'

/* Menu styles


.menu__level
  position: absolute
  top: 0
  left: 0
  visibility: hidden
  overflow: hidden
  overflow-y: scroll
  width: calc(100% + 50px)
  height: 100%
  margin: 0
  padding: 0
  list-style-type: none

.menu__level--current
  visibility: visible

.menu__item
  display: block
  width: calc(100% - 50px)

.menu__link
  font-weight: 600
  position: relative
  display: block
  padding: 1em 2.5em 1em 1.5em
  color: #bdbdbd
  -webkit-transition: color 0.1s
  transition: color 0.1s
  &[data-submenu]::after
    content: '\e904'
    font-family: 'feather'
    position: absolute
    right: 0
    padding: 0.25em 1.25em
    color: #2a2b30
  &:hover, &[data-submenu]:hover::after
    color: #5c5edc

.menu__link--current::before
  content: '\00B7'
  font-size: 1.5em
  line-height: 0
  position: absolute
  top: 50%
  left: 0.5em
  height: 4px
  color: #5c5edc

[class^='animate-'], [class*=' animate-']
  visibility: visible

.animate-outToRight .menu__item
  -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
  animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)

@-webkit-keyframes outToRight
  to
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

@keyframes outToRight
  to
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

.animate-outToLeft .menu__item
  -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
  animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)

@-webkit-keyframes outToLeft
  to
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

@keyframes outToLeft
  to
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

.animate-inFromLeft .menu__item
  -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
  animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1)

@-webkit-keyframes inFromLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes inFromLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.animate-inFromRight .menu__item
  -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1)

@-webkit-keyframes inFromRight
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes inFromRight
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.menu__breadcrumbs
  font-size: 0.65em
  line-height: 1
  position: relative
  padding: 2.5em 3.75em 1.5em 2.5em
  a
    font-weight: bold
    display: inline-block
    cursor: pointer
    vertical-align: middle
    letter-spacing: 1px
    text-transform: uppercase
    color: #5c5edc
    &:last-child
      pointer-events: none
    &:hover
      color: #8182e0
    &:not(:last-child)
      &::after
        content: '\e902'
        font-family: 'feather'
        display: inline-block
        padding: 0 0.5em
        color: #33353e
      &:hover::after
        color: #33353e

.menu__back
  font-size: 1.05em
  position: absolute
  z-index: 100
  top: 0
  right: 2.25em
  margin: 0
  padding: 1.365em 0.65em 0 0
  cursor: pointer
  color: #2a2b30
  border: none
  background: none

.menu__back--hidden
  pointer-events: none
  opacity: 0

.menu__back
  &:hover, &:focus
    color: #fff
    outline: none

/* Open and close buttons

.action
  position: absolute
  display: block
  margin: 0
  padding: 0
  cursor: pointer
  border: none
  background: none
  &:focus
    outline: none

.action--open
  font-size: 1.5em
  top: 1em
  left: 1em
  display: none
  color: #fff
  position: fixed
  z-index: 1000

.action--close
  font-size: 1.1em
  top: 1.25em
  right: 1em
  display: none
  color: #45464e

@media screen and (max-width: 40em)
  .action--open, .action--close
    display: block
  .menu
    z-index: 1000
    top: 0
    width: 100%
    height: 100vh
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s
  .menu--open
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

//Multi level menu end


//cart style

/* --------------------------------
 *
 *xheader
 *
 *--------------------------------

@media only screen and (min-width: 1200px)
  header
    height: 80px

#logo
  padding-top: 5px
  /* delete this property if you don't want your logo to scale down on mobile devices
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  -ms-transform: scale(0.8)
  -o-transform: scale(0.8)
  transform: scale(0.8)

@media only screen and (min-width: 1200px)
  #logo
    padding-top: 20px
    position: absolute
    /* logo left margin on Dekstop
    left: 2.4em
    top: 0
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    transform: scale(1)

#cd-hamburger-menu, #cd-cart-trigger
  position: absolute
  top: 0
  height: 100%

#cd-hamburger-menu a, #cd-cart-trigger a
  width: 60px
  height: 100%

#cd-hamburger-menu
  left: 0
  a
    background: #26292f url("../img/cd-hamburger-menu.svg") no-repeat center center

@media only screen and (min-width: 1200px)
  #cd-hamburger-menu
    display: none

#cd-cart-trigger
  right: 0
  a
    background: #26292f url("../img/cd-cart.svg") no-repeat center center

@media only screen and (min-width: 1200px)
  #cd-cart-trigger
    /* cart right margin on desktop
    right: 0
    a
      position: relative
      width: 100px
      border-left: none
      background-color: #26292f

#main-nav, #cd-cart
  position: fixed
  top: 0
  height: 100%
  width: 260px
  /* header height
  padding-top: 50px
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
  z-index: 3

@media only screen and (min-width: 768px)
  #main-nav, #cd-cart
    width: 350px

@media only screen and (min-width: 1200px)
  #main-nav, #cd-cart
    width: 30%
    /* header height has changed
    padding-top: 80px

#main-nav
  left: -100%
  background: #FFF
  -webkit-transition: left 0.3s
  -moz-transition: left 0.3s
  transition: left 0.3s
  &.speed-in
    left: 0
  ul
    a
      display: block
      height: 50px
      line-height: 50px
      padding: 0 1em
      border-bottom: 1px solid #e0e6ef
    .current
      box-shadow: inset 3px 0 #435779

@media only screen and (min-width: 1200px)
  #main-nav
    /* reset main nav style
    position: absolute
    height: auto
    width: auto
    left: auto
    right: 8em
    padding-top: 0
    top: 0
    background: transparent
    box-shadow: none
    /* header height
    line-height: 80px
    z-index: 4
    li
      display: inline-block
      margin-left: 1em
    ul a
      display: inline-block
      height: auto
      line-height: 1
      padding: 1em 1.4em
      border-bottom: none
      color: rgba(255, 255, 255, 0.8)
      border-radius: 0.25em
      &.current
        box-shadow: none
        background: #435779
        color: #FFF
  .no-touch #main-nav ul a:hover
    background: #435779
    color: #FFF

.no-js #main-nav
  position: fixed

#cd-cart
  right: -100%
  background: #FFF
  -webkit-transition: right 0.3s
  -moz-transition: right 0.3s
  transition: right 0.3s
  &.speed-in
    right: 0
  > *
    padding: 0 1em
  h2
    font-size: 14px
    font-size: 0.875rem
    font-weight: bold
    text-transform: uppercase
    margin: 1em 0
  .cd-cart-items
    padding: 0
    li
      position: relative
      padding: 1em
      border-top: 1px solid #e0e6ef
      &:last-child
        border-bottom: 1px solid #e0e6ef
  .cd-qty
    color: #a5aebc
  .cd-price
    color: #a5aebc
    margin-top: .4em
  .cd-item-remove
    position: absolute
    right: 1em
    top: 50%
    bottom: auto
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    width: 32px
    height: 32px
    border-radius: 50%
    background: url("../img/cd-remove-item.svg") no-repeat center center

.no-touch #cd-cart .cd-item-remove:hover
  background-color: #e0e6ef

#cd-cart
  .cd-cart-total
    padding-top: 1em
    padding-bottom: 1em
    span
      float: right
    &::after
      /* clearfix
      content: ''
      display: table
      clear: both
  .checkout-btn
    display: block
    width: 100%
    height: 60px
    line-height: 60px
    background: #7dcf85
    color: #FFF
    text-align: center

.no-touch #cd-cart .checkout-btn:hover
  background: #a2dda8

#cd-cart .cd-go-to-cart
  text-align: center
  margin: 1em 0
  a
    text-decoration: underline

@media only screen and (min-width: 1200px)
  #cd-cart
    > *
      padding: 0 2em
    .cd-cart-items li
      padding: 1em 2em
    .cd-item-remove
      right: 2em

/* --------------------------------
 *
 *xkeyframes
 *
 *--------------------------------
@-webkit-keyframes cd-fade-in
  0%
    opacity: 0

  100%
    opacity: 1

@-moz-keyframes cd-fade-in
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes cd-fade-in
  0%
    opacity: 0

  100%
    opacity: 1

//cart style end



@media (max-width: 1440px)
  body
    margin-top: 246px

.site-footer
  position: relative
  background-color: #25162a
  color: white
  .content-container
    min-height: 50px
    position: relative
    .left-section
      position: absolute
      left: 0
      .content-text
        font-size: 14px
        text-transform: capitalize
        padding: 18px 0
    .right-section
      position: absolute
      right: 0
      .media-container
        padding: 15px 0
        list-style: none
        margin-bottom: 0
        .media-list
          display: inline-block
          vertical-align: middle
          .media-link
            display: block
            outline: none
            .media-button
              margin-left: 5px
              margin-right: 5px

@media (max-width: $screen-sm-max)
  body
    margin-top: 110px
  nav
    &.navbar-default
      min-height: 0
    .navbar-toggle
      right: 20px
      margin: 45px 0 0
      border: none
      &:focus, &:active, &:hover
        background-color: transparent !important
      .icon-bar
        background-color: white !important
      &:hover
        background-color: transparent
    .navbar-collapse
      .navbar-nav
        .navbar-menu
          .navbar-link
            text-align: center
  #icon-transition
    width: 20px
    height: 20px
    -webkit-transition: .5s ease-in-out
    -moz-transition: .5s ease-in-out
    -o-transition: .5s ease-in-out
    transition: .5s ease-in-out
    cursor: pointer
  #icon-transition.open span
    background: #333
  #icon-transition span
    display: block
    position: absolute
    height: 1px
    width: 100%
    background: #222
    border-radius: 5px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
  #icon-transition span:nth-child(1)
    top: 0px
  #icon-transition span:nth-child(2),
  #icon-transition span:nth-child(3)
    top: 3px
  #icon-transition span:nth-child(4)
    top: 11px
  #icon-transition.open span:nth-child(1)
    top: 18px
    width: 0%
    left: 50%
  #icon-transition.open span:nth-child(2)
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
  #icon-transition.open span:nth-child(3)
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
  #icon-transition.open span:nth-child(4)
    top: 18px
    width: 0%
    left: 50%
  .navbar-header
    float: none
  .navbar-toggle
    display: block

  .navbar-collapse.collapse
    display: none !important

  .navbar-nav
    float: none !important
    > li
      float: none

  .navbar-collapse.collapse.in
    display: block !important

@media (max-width: 568px)
  body
    margin-top: 91px

  nav
    .navbar-toggle
      right: 5px

  nav.navbar-shrink
    .container-header
      .navbar-header
        .navbar-brand
          .brand-logo
            height: 60px

  #icon-transition
    margin: 35px 0

  .site-footer
    .content-container
      .left-section
        position: relative
        .content-text
          text-align: center
      .right-section
        display: none
