//Global Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main
  display: block

body
  line-height: 1

img
  image-rendering: auto
  //image-rendering: crisp-edges
  //image-rendering: pixelated


ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0


.no-gutter
  padding-left: 0
  padding-right: 0

body
  color: #585858
  font-family: "Lato","sans-serif"
  text-transform: uppercase
  font-weight: 400
  margin-top: 196px
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  -ms-font-smoothing: antialiased

nav
  &.navbar-default
    min-height: 146px
    background-color: #f5f5f5
  .container-header
    background-color: #30183a
    .navbar-header
      width: 100%
      .navbar-brand
        outline: none
        -ms-outline: none
        -o-outline: none
        display: table
        margin-left: auto
        margin-right: auto
        float: none
        height: auto
        .brand-logo
          transition: all 300ms ease-in-out
          height: 115px
  &.navbar-shrink
    transition: all 1s ease-in-out
    .container-header
      .navbar-header
        .navbar-brand
          .brand-logo
            height: 80px

.category-menu-container
  min-height: 50px
  position: relative
  width: 100%
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  background-color: #f5f5f5
  border-bottom: 1px solid #a7a7a7
//Menu on hover
.cd-morph-dropdown
  &::before
    /* never visible - used in JS to check mq
    content: 'mobile'
    display: none
  .nav-trigger
    /* menu icon - visible on small screens only
    position: absolute
    top: 0
    right: 0
    height: 50px
    width: 50px
    /* replace text with icon
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    color: transparent
    span
      /* these are the 3 lines of the menu icon
      position: absolute
      background-color: #1A1A1A
      height: 3px
      width: 26px
      &::after, &::before
        /* these are the 3 lines of the menu icon
        position: absolute
        background-color: #1A1A1A
        height: 3px
        width: 26px
      left: 50%
      top: 50%
      bottom: auto
      right: auto
      -webkit-transform: translateX(-50%) translateY(-50%)
      -ms-transform: translateX(-50%) translateY(-50%)
      transform: translateX(-50%) translateY(-50%)
      -webkit-transition: background-color .3s
      transition: background-color .3s
      &::after
        content: ''
        left: 0
        -webkit-transition: -webkit-transform .3s
        transition: -webkit-transform .3s
        transition: transform .3s
        transition: transform .3s, -webkit-transform .3s
      &::before
        content: ''
        left: 0
        -webkit-transition: -webkit-transform .3s
        transition: -webkit-transform .3s
        transition: transform .3s
        transition: transform .3s, -webkit-transform .3s
        -webkit-transform: translateY(-9px)
        -ms-transform: translateY(-9px)
        transform: translateY(-9px)
      &::after
        -webkit-transform: translateY(9px)
        -ms-transform: translateY(9px)
        transform: translateY(9px)
  &.nav-open .nav-trigger span
    background-color: transparent
    &::before
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
    &::after
      -webkit-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      transform: rotate(-45deg)
  .main-nav
    display: none
  .morph-dropdown-wrapper
    display: none
    position: absolute
    top: 60px
    left: 0
    width: 100%
    padding: 1.2em 5%
    box-shadow: inset 0 1px 0 #e6e6e6
    background-color: #30183a
  &.nav-open .morph-dropdown-wrapper
    display: block
  .dropdown-list > ul > li
    margin-bottom: 3.3em
  .label
    display: block
    margin-bottom: .8em
  .content li::after
    clear: both
    content: ""
    display: block
  .gallery
    .content
      li
        margin-bottom: 1.4em
      a
        display: block
        &::before
          /* icon on the left
          content: ''
          display: inline-block
          float: left
          height: 54px
          width: 54px
          margin-right: .6em
          background: red
          border-radius: 50%
          -webkit-transition: background .2s
          transition: background .2s
        span
          display: block
          line-height: 1.2
        em
          display: block
          line-height: 1.2
          font-size: 1.8rem
          padding: .4em 0 .2em
          color: #1A1A1A
        span
          font-size: 1.4rem
          color: #a6a6a6
        &:hover::before
          background-color: #1A1A1A
    li
      &:nth-of-type(1) a::before
        background: #f4e58a url('/img/cd-gallery-icons.svg') no-repeat 0 0
      &:nth-of-type(2) a::before
        background: #F4AF6D url('/img/cd-gallery-icons.svg') no-repeat -54px 0
      &:nth-of-type(3) a::before
        background: #DB6356 url('/img/cd-gallery-icons.svg') no-repeat -108px 0
      &:nth-of-type(4) a::before
        background: #8D4645 url('/img/cd-gallery-icons.svg') no-repeat -162px 0
  .links .content > ul > li
    padding-top: 10px
    padding-bottom: 10px
  .links-list a
    display: block
    font-size: 14px
    text-decoration: none
    line-height: 20px
  .links-list a:hover
    color: white
@media only screen and (min-width: 1000px)
  .cd-morph-dropdown
    &::before
      content: 'desktop'
    .nav-trigger
      display: none
    .main-nav
      display: table
      margin-left: auto
      margin-right: auto
      > ul
        position: relative
        display: block
        > li
          width: 16.666666667%
          display: inline-block
          float: left
          > a
            font-weight: 900
            display: block
            outline: none
            color: #585858
            font-size: 14px
            padding-top: 17px
            text-align: center
            padding-bottom: 17px
            text-decoration: none
            text-transform: uppercase
    &.is-dropdown-visible .main-nav > ul > li
      > a
        /* main navigation hover effect - on hover, reduce opacity of elements not hovered over
        opacity: .6
      &.active > a
        opacity: 1
    .morph-dropdown-wrapper
      /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden
      display: block
      top: 50px
      /* overwrite mobile style
      width: auto
      padding: 0
      box-shadow: none
      background-color: transparent
      /* Force Hardware acceleration
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      will-change: transform
      -webkit-transform: translateY(20px)
      -ms-transform: translateY(20px)
      transform: translateY(20px)
      -webkit-transition: -webkit-transform .3s
      transition: -webkit-transform .3s
      transition: transform .3s
      transition: transform .3s, -webkit-transform .3s
    &.is-dropdown-visible .morph-dropdown-wrapper
      -webkit-transform: translateY(0)
      -ms-transform: translateY(0)
      transform: translateY(0)
    .dropdown-list
      position: absolute
      top: 0
      left: 0
      visibility: hidden
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      will-change: transform, width, height
      -webkit-transition: visibility .3s
      transition: visibility .3s
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08)
  .no-csstransitions .cd-morph-dropdown .dropdown-list
    display: none
  .cd-morph-dropdown
    .dropdown-list
      &::before
        /* dropdown top triangle
        content: ''
        position: absolute
        bottom: 100%
        left: 50%
        right: auto
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        transform: translateX(-50%)
        height: 0
        width: 0
        border: 8px solid transparent
        border-bottom-color: #30183a
        opacity: 0
        -webkit-transition: opacity .3s
        transition: opacity .3s
      > ul
        position: relative
        z-index: 1
        height: 100%
        width: 100%
        overflow: hidden
    &.is-dropdown-visible .dropdown-list
      visibility: visible
      -webkit-transition: width .3s, height .3s, -webkit-transform .3s
      transition: width .3s, height .3s, -webkit-transform .3s
      transition: transform .3s, width .3s, height .3s
      transition: transform .3s, width .3s, height .3s, -webkit-transform .3s
      &::before
        opacity: 1
    .dropdown
      position: absolute
      left: 0
      top: 0
      opacity: 0
      visibility: hidden
      width: 100%
      -webkit-transition: opacity .3s, visibility .3s
      transition: opacity .3s, visibility .3s
      &.active
        opacity: 1
        visibility: visible
      &.move-left .content
        -webkit-transform: translateX(-100px)
        -ms-transform: translateX(-100px)
        transform: translateX(-100px)
      &.move-right .content
        -webkit-transform: translateX(100px)
        -ms-transform: translateX(100px)
        transform: translateX(100px)
    .label
      /* hide the label on bigger devices
      display: none
    .content
      padding: 1rem 1.5rem
      -webkit-transition: -webkit-transform .3s
      transition: -webkit-transform .3s
      transition: transform .3s
      transition: transform .3s, -webkit-transform .3s
      text-align: left
      > ul
        &::after
          clear: both
          content: ""
          display: block
        > li
          width: 48%
          float: left
          margin-right: 4%
          margin-top: 0
          &:nth-of-type(2n)
            margin-right: 0
    .gallery .content
      /* you need to set a width for the .content elements because they have a position absolute
      width: 510px
      padding-bottom: .8em
      li
        margin-bottom: 1.8em
    .links .content
      > ul > li
        margin-top: 0
      width: 350px
    .links-list a
      color: white
      font-size: 12px
      margin-left: 0
      font-weight: 400
      &:hover
        opacity: .7
    .bg-layer
      /* morph dropdown background
      position: absolute
      top: 0
      left: 0
      height: 1px
      width: 1px
      background: #30183a
      opacity: 0
      -webkit-transition: opacity .3s
      transition: opacity .3s
      -webkit-transform-origin: top left
      -ms-transform-origin: top left
      transform-origin: top left
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      will-change: transform
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
    &.is-dropdown-visible .bg-layer
      opacity: 1
      -webkit-transition: opacity .3s, -webkit-transform .3s
      transition: opacity .3s, -webkit-transform .3s
      transition: transform .3s, opacity .3s
      transition: transform .3s, opacity .3s, -webkit-transform .3s

.site-footer
  position: relative
  background-color: #30183a
  color: white
  .content-container
    min-height: 50px
    position: relative
    .left-section
      position: absolute
      left: 0
      .content-text
        font-size: 14px
        text-transform: capitalize
        padding: 18px 0
    .right-section
      position: absolute
      right: 0
      .media-container
        padding: 15px 0
        list-style: none
        margin-bottom: 0
        .media-list
          display: inline-block
          vertical-align: middle
          .media-link
            display: block
            outline: none
            .media-button
              margin-left: 5px
              margin-right: 5px

@media (max-width: $screen-sm-max)
  body
    margin-top: 110px
  nav
    &.navbar-default
      min-height: 0
  .navbar-header
    float: none
  .navbar-toggle
    display: block

  .navbar-collapse.collapse
    display: none !important

  .navbar-nav
    float: none !important
    > li
      float: none

  .navbar-collapse.collapse.in
    display: block !important


