#product-list
  position: relative
  .anchor-hide
    position: relative
    top: -170px
    visibility: hidden
    display: block
  .section-container
    margin-top: 60px
    margin-bottom: 60px
    .section-header
      .header
        font-size: 20px
        font-weight: bold
    .section-content
      margin-top: 30px
      .item
        text-decoration: none
        outline: none
        margin-top: 15px
        margin-bottom: 15px
        .section-image
          .image
            width: auto
            height: 200px
            &.b-lazy
              -webkit-transition: all 0.3s ease-in-out
              -moz-transition: all 0.3s ease-in-out
              -o-transition: all 0.3s ease-in-out
              transition: all 0.3s ease-in-out
              background: #f7f7f7 url("/img/loading.gif") center no-repeat
              width: auto
              height: 200px
            &.b-loaded
              background: transparent
        .caption
          padding-top: 20px
          margin-left: 42.5px
          margin-right: 42.5px
          .section-brand
            font-weight: bold
            color: #585858
            display: block
            font-size: 14px
          .section-title
            color: #585858
            display: block
            font-size: 13px
            padding-top: 5px
            min-height: 36px
            text-transform: capitalize
          .section-price
            color: #d4232b
            display: block
            font-size: 14px
            font-weight: bold

@media (max-width: 767px)
  #product-list
    .section-container
      .section-content
        .item
          width: 50%
          float: left
          .caption
            .section-title
              min-height: 65px

@media (max-width: 568px)
  #product-list
    .section-container
      margin-top: 15px
      margin-bottom: 15px
      .section-content
        .item
          width: 100%





