<div class="container section-container">
    <header class="section-header">
        <h2 class="header">New Arrivals</h2>
    </header>
    <div class="section-content">
        <div class="owl-carousel" style="width: 1px; min-width: 100%;">
            {% for product-new in site.product %}
            {% if product-new.new-arrival == true %}
            <div class="item">
                <a class="image-link" href="{{ product-new.url }}">
                    <div class="section-image">
                        <img class="image center-block" data-src="{{ product-new.product-cover }}" src="{{ product-new.product-cover }}" alt="">
                    </div>
                </a>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-new.brand }}</span>
                    <span class="section-title">{{ product-new.product-name }}</span>
                    <ngcart-addtocart id="{{ product-new.sku }}" name="{{ product-new.product-name }}" price="{{ product-new.price }}.00">Add to Cart</ngcart-addtocart>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="hidden-lg hidden-md hidden-sm visible-xs"/>
    <header class="section-header">
        <h2 class="header">Best Seller</h2>
    </header>
    <div class="section-content">
        <div class="owl-carousel">
            {% for product-new in site.product %}
            {% if product-new.best-seller == true %}
            <div class="item">
                <a class="image-link" href="{{ product-new.url }}">
                    <div class="section-image">
                        <img class="image center-block" data-src="{{ product-new.product-cover }}" src="{{ product-new.product-cover }}" alt="">
                    </div>
                </a>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-new.brand }}</span>
                    <span class="section-title">{{ product-new.product-name }}</span>
                    <ngcart-addtocart id="{{ product-new.sku }}" name="{{ product-new.product-name }}" price="{{ product-new.price }}.00" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>