<div class="container section-container">
    <header class="section-header">
        <h2 class="header">New Arrivals</h2>
    </header>
    <div class="section-content">
        <div class="owl-carousel">
            {% for product-new in site.product %}
            {% if product-new.new-arrival == true %}
            <a href="{{ product-new.url }}" class="item">
                <div class="section-image">
                    <img class="image center-block owl-lazy" data-src="{{ product-new.product-cover }}" src="{{ product-new.product-cover }}" alt="">
                </div>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-new.brand-name }}</span>
                    <span class="section-title">{{ product-new.product-name }}</span>
                    <span class="section-price">${{ product-new.price }}.00</span>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <header class="section-header">
        <h2 class="header">Best Seller</h2>
    </header>
    <div class="section-content">
        <div class="owl-carousel">
            {% for product-new in site.product %}
            {% if product-new.best-seller == true %}
            <a href="#" class="item">
                <div class="section-image">
                    <img class="image center-block owl-lazy" data-src="{{ product-new.product-cover }}" src="{{ product-new.product-cover }}" alt="">
                </div>
                <div class="caption clearfix">
                    <span class="section-brand">{{ product-new.brand-name }}</span>
                    <span class="section-title">{{ product-new.product-name }}</span>
                    <span class="section-price">${{ product-new.price }}.00</span>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>