<div class="container">
    <div class="section-container clearfix">
        <div class="left-section col-md-8 no-gutter">
            <ul class="cd-gallery">
                <li>
                    <a href="#">
                        <ul class="cd-item-wrapper">
                            {% assign counter = 0 %}
                            {% for product-image in page.product-image %}
                            {% assign counter = counter | plus: 1 %}
                            {% if forloop.first  == true %}
                            <li class="selected">
                                <img class="center-block img-responsive" src="{{ product-image.image }}" alt="Preview image">
                            </li>
                            {% else %}
                            <li {% if counter ==2 %} class="move-right" {% else %} {% endif %}>
                                <img class="center-block img-responsive" src="{{ product-image.image }}" alt="Preview image">
                            </li>
                            {% endif %}

                            {% endfor %}
                        </ul> <!-- cd-item-wrapper -->
                    </a>
                </li>
            </ul> <!-- cd-gallery -->
        </div>
        <div class="right-section col-md-4 no-gutter">
            <div class="product-details">
                <span class="product-brand">{{ page.brand-name }}</span>
                <span class="product-name">{{ page.product-name }}</span>
                <span class="product-price">${{ page.price }}.00</span>
                <span class="product-description">{{ page.content }}</span>
            </div>
        </div>
    </div>
</div>
