<div class="container no-gutter">
    <div class="section-container clearfix">
        <div class="left-section col-lg-8 col-md-8 col-sm-12 col-xs-12">

            <div class="thumbnail-section">
                <ul class="thumbnail-container">
                    {% for thumbnail in page.product-image %}
                    {% if forloop.first == true %}
                    <li  class="thumbnail-list active">
                        <img class="thumbnail-image" src="{{ thumbnail.image }}"/>
                    </li>
                    {% else %}
                    <li  class="thumbnail-list">
                        <img class="thumbnail-image" src="{{ thumbnail.image }}"/>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="image-section">
                <img class="product-image" src="{{ page.product-cover }}">
            </div>
        </div>
        <div class="right-section col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="product-details">
                <span class="product-brand">{{ page.brand }}</span>
                <span class="product-name">{{ page.product-name }}</span>
                <span class="product-price">₱{{ page.price }}.00</span>
                <span class="product-description">{{ page.content }}</span>
            </div>
            <div class="cart-section">
                <ngcart-addtocart
                        id="{{ page.sku }}"
                        brand="{{ page.brand }}"
                        name="{{ page.product-name }}"
                        quantity="1"
                        price="{{ page.price }}"
                        quantity-max="{{ page.quantity }}"
                        data="{{ item.brand }}">
                    Add to Cart
                </ngcart-addtocart>
            </div>
        </div>
    </div>
</div>
